*{
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}


html,body{
  height:100%;
  padding:0;
  margin:0;
}


#game-container{
  position: relative;
  height: 100%;
  overflow: hidden;
}

/*Top menu stuff*/
#top-menu,#canvas-container,#bottom{
  position: absolute;
}

#top-menu{
  width:100%;
  height:88px;
  background: #142028;
  overflow: hidden;
  position: relative;
}

#top-menu>li{
  position: absolute;
  list-style: none;
  color: #ffffff;
  font-size: 3em;
  top:22px;
  text-align: center;
 }

 #top-menu>li:nth-child(1){
   left:10%;
 }

 #top-menu>li:nth-child(2){
   left:50%;
 }

 #top-menu>li:nth-child(3){
   right:10%;
 }


/*Pausebutton stuff*/
 #pauseButton{
   display:block;
   width:29px;
   height:44px;
   position:relative;

 }

 #pauseButton>span{
   position:absolute;
   display:block;
   background:#FFF;
   width:30%;
   height:100%;
   border-radius:50px;
   transition:left 0.1s ease-in, transform ease 0.1s;
 }

 #pauseButton>span:last-child{
   left:100%;
 }

 #pauseButton.clicked>span:first-child{
   transform:rotate(-45deg);
   height:70.7%;
   left:45%;
 }

 #pauseButton.clicked>span:last-child{
   transform:rotate(-135deg);
   left:45%;
   height:70.7%;
   top:35%;
 }
/*Pausebutton end*/

/*The canvas*/
#canvas-container{
  top:88px;
  width:100%;
  bottom:0;
}

#stage{
  width:100%;
  height:100%;
}
