@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

*{
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  /*Remove the possibility to mark any text*/
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}


html,body{
  height:100%;
  padding:0;
  margin:0;
}

#main-container{
    height:100%;
    width:100%;
}

body{
  overflow-y: hidden;/*Hopefully disable the scroll-down refresh on chrome*/
  background-color: #142028;
}

#game-container{
  position: relative;
  height: 100%;
  overflow: hidden;
}

/*Top menu stuff*/
#top-menu,#canvas-container,#bottom{
  position: absolute;
}

#top-menu{
  width:100%;
  height:88px;
  overflow: hidden;
  background: #142028;
  position: relative;
}

#top-menu>li{
  position: absolute;
  list-style: none;
  color: #ffffff;
  font-size: 3em;
  font-weight: 400;
  top:22px;
  text-align: center;
  line-height: 50px;/*Same lineheight as the top-menu is height*/
 }

 #top-menu>li:nth-child(1){
   left:10%;
 }

 #top-menu>li:nth-child(2){
   width:100px;
   margin-left: -50px;
   left:50%;
 }

 #top-menu>li:nth-child(3){
   right:10%;
 }

#highscore{
  position: relative;
}

#highscore::before{
  content: "BEST";
  display: block;
  position: absolute;
  font-size: 14px;
  font-weight: 300;
  width: 36px;
  left: 50%;
  margin-left: -18px;
  top:-30px;
}

/*Pausebutton stuff*/
 #pauseButton{
   display:block;
   width:22px;
   height:44px;
   position:relative;
 }

 #pauseButton>span{
   position:absolute;
   display:block;
   background: #547078;
   width:35%;
   height:100%;
   border-radius:50px;
   transition:left 0.1s ease-in, transform ease 0.1s;
 }

 #pauseButton>span:last-child{
   left:100%;
 }

 #pauseButton.clicked>span{
   left:45%;
   height:70.7%;
 }

 #pauseButton.clicked>span:first-child{
   transform:rotate(-45deg);
 }

 #pauseButton.clicked>span:last-child{
   transform:rotate(-135deg);
   top:40%;
 }

/*Pausebutton end*/

/*The canvas*/
#canvas-container{
  top:88px;
  width:100%;
  bottom:0;
}

#stage{
  width:100%;
  height:100%;
}


/*Pause menu*/
#pauseMenu,#gameOverMenu{
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  display: none;
  z-index: -1;
  background: rgba(0,0,0,0.6);
}

#pauseMenu.showMenu,#gameOverMenu.showMenu{
    display: block;
    z-index: 100;
}


#pauseMenu>ul,#gameOverMenu>ul,#frontpagemenu>ul{
  position: absolute;
  left:50%;
  top:50%;
  list-style: none;
  display: block;
  height:300px;
  width:200px;
  margin-left: -100px;
  margin-top: -150px;
}

#pauseMenu>ul>li>h2,#gameOverMenu>ul>li>h2{
  color:#FFF;
  text-align: center;
  margin-bottom: 22px;
  font-weight: 400;
}

.button{
  display: block;
  background:#FF8802;
  border-radius: 50px;
  text-align: center;
  width: 100%;
  margin-bottom: 11px;
  box-sizing: border-box;
  padding:11px;
  font-size:22px;
  color:#FFF;
  font-weight: 400;
}

#pauseMenu>ul>li:nth-child(2),#gameOverMenu>ul>li:nth-child(2),#frontpagemenu>ul>li:nth-child(1){
  background: #E22642;
}
#pauseMenu>ul>.button:nth-child(3),#gameOverMenu>ul>li:nth-child(3),#frontpagemenu>ul>li:nth-child(2){
  background: #f7bb22;
}
#pauseMenu>ul>.button:nth-child(4), #frontpagemenu>ul>.button:nth-child(3){
  background: #214cf7;
}

#pauseMenu>ul>.button:active, #frontpagemenu>ul>.button:active, #gameOverMenu>ul>.button:active{
  color:#DDD;
  transition: background ease-in 0.1s, color ease-in 0.1s;
}
/*Click effects*/
#pauseMenu>ul>.button:active:nth-child(2),#gameOverMenu>ul>.button:active:nth-child(2),#frontpagemenu>ul>.button:active:nth-child(1){
  background: #C21622;
}

#pauseMenu>ul>.button:active:nth-child(3),#gameOverMenu>ul>.button:active:nth-child(3),#frontpagemenu>ul>.button:active:nth-child(2){
  background: #d79b12;
}

#pauseMenu>ul>.button:active:nth-child(4), #frontpagemenu>ul>.button:active:nth-child(3){
  background: #112cd7;
}
/*Pausemenu end*/

/*GameOver menu*/
#gameOverMenu>ul>li:nth-child(1){
  color:#FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

#gameOverMenu>ul>li:nth-child(1)>span{
  font-size: 88px;
  font-weight: 500;
}

/*GameOver menu*/

/*Frontpage MENU*/
#menucontainer {
	width: 100%;
	height: 100%;
	position: relative;
}

#menucontainer img {
	width: 250px;
	position: absolute;
	left: 50%;
  top: 50%;
	margin-left: -125px;
  margin-top: -200px;
}

#frontpagemenu>ul {
  margin-top: -100px;
}



/*
 * Sound button. Borrowed the CSS for the sound button from this Pen: https://codepen.io/peiche/pen/obBROB.
 */
#sound {
  width: 60px;
  height: 60px;
  position: absolute;
  left:50%;
  margin-left: -30px;
  top:50%;
  margin-top: 100px;
  display: inline-block;
}

.icon {
  color: #FFF;
  width: 75%;
  height: 100%;
  display: block;
  margin: auto;
}

#sound>.fa{
  line-height: 100%;
  font-size: 60px;
}

.wave {
  position: absolute;
  border: 3px solid transparent;
  border-right: 3px solid #FFF;
  border-radius: 50%;
  transition: all 200ms;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wave_one {
  width: 50%;
  height: 50%;
}

.wave_two {
  width: 75%;
  height: 75%;
}

.mute .wave {
  border-radius: 0;
  width: 50%;
  height: 50%;
  border-width: 0 3px 0 0;
}

.mute .wave_one {
  transform: rotate(45deg) translate3d(0, -50%, 0);
}

.mute .wave_two {
  transform: rotate(-45deg) translate3d(0, 50%, 0);
}
/*Sound button end*/

/*Highscore page*/
#highscorecontainer{
  text-align: center;
}
#highscorecontainer>h1 {
  margin-top: 22px;
  color: #e22642;
  font-size: 45px;
}

#highscorecontainer>ul {
  list-style: none;
  margin-top:22px;
  position: relative;
}

#highscorecontainer>ul>li {
  color:#FFF;
  font-size: 38px;
  font-weight: 400;
  line-height: 40px;
}

#highscorecontainer>button, #infoContainer>button{
  width:200px;
  position: absolute;
  bottom:0;
  left:50%;
  margin-bottom: 66px;
  margin-left: -100px;
  border:none;
  background: #214cf7;
  outline: none;
  transition: background ease-in 0.1s, color ease-in 0.1s;
}

#highscorecontainer>button:active, #infoContainer>button:active{
  background: #112cd7;
}

#infoContainer{
  height:100%;
  width:100%;
  overflow: hidden;
}

/*Info page*/
#tutorialGif{
  margin-top: 44px;
  width:340px;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}
